Repository Riverscapes/RiverscapesXML, pull requests merged in 2021-06, with the labels that each got.

#104 Pybump urllib and requests
  python/requirements.txt
Labels: bug

#102 Adding Google basemaps
  BaseMaps.xml
Labels: Basemaps

#106 confinement ratio symbology for web rave
  Symbology/web/Confinement/confinement_ratio.json
Labels: WebRAVE, symbology

#120 Added 2 project views
  RaveBusinessLogic/RSContext.xml
Labels: symbology

#70 symbolized land ownership for Q
  Symbology/qgis/RSContext/ownership.qml
Labels: symbology
