Repository Riverscapes/RiverscapesXML, pull requests merged in 2021-11, with the labels that each got.

#357 Updated BRAT/pyBRAT symbology
  Symbology/esri/BRAT/oPBRC_CR.lyr
  Symbology/esri/Shared/IsPeren.lyr
  Symbology/esri/Shared/iGeo_DA.lyr
  Symbology/esri/Shared/iGeo_Slope.lyr
  Symbology/esri/Shared/iHyd_SP2.lyr
  Symbology/esri/Shared/iHyd_SPLow.lyr
  Symbology/esri/Shared/iPC_Canal.lyr
  Symbology/esri/Shared/iPC_DivPts.lyr
  Symbology/esri/Shared/iPC_LU.lyr
  Symbology/esri/Shared/iPC_Privat.lyr
  Symbology/esri/Shared/iPC_Rail.lyr
  Symbology/esri/Shared/iPC_RailVB.lyr
  Symbology/esri/Shared/iPC_Road.lyr
  Symbology/esri/Shared/iPC_RoadVB.lyr
  Symbology/esri/Shared/iPC_RoadX.lyr
  Symbology/esri/Shared/mCC_EX_CT.lyr
  Symbology/esri/Shared/mCC_HPE_CT.lyr
  Symbology/esri/Shared/oCC_EX.lyr
  Symbology/esri/Shared/oCC_HPE.lyr
  Symbology/esri/Shared/oPC_Dist.lyr
  Symbology/esri/Shared/oVC_EX.lyr
  Symbology/esri/Shared/oVC_HPE.lyr
  Symbology/esri/pyBRAT/oCC_EX.lyr
  Symbology/esri/pyBRAT/oCC_HPE.lyr
  Symbology/esri/pyBRAT/oPBRC_CR.lyr
  Symbology/esri/pyBRAT/oPBRC_UD.lyr
  Symbology/esri/pyBRAT/oPBRC_UI.lyr
Labels: symbology

#358 Curated pyBRAT Validation Layers
  RaveBusinessLogic/pyBRAT.xml
  Symbology/esri/pyBRAT/current_strategies.lyr
  Symbology/esri/pyBRAT/percent_remaining.lyr
  Symbology/esri/pyBRAT/predicted_surveyed.lyr
  Symbology/qgis/pyBRAT/current_strategies.qml
  Symbology/qgis/pyBRAT/percent_remaining.qml
  Symbology/qgis/pyBRAT/predicted_surveyed.qml
  Symbology/web/pyBRAT/current_strategies.json
  Symbology/web/pyBRAT/percent_remaining.json
  Symbology/web/pyBRAT/predicted_surveyed.json
Labels: symbology, BusinessLogic

#379 Allowing for filtered layers in webRAVE
  RaveBusinessLogic/BRAT.xml
  Symbology/esri/BRAT/mCC_EX_CT_filtered.lyr
  Symbology/esri/BRAT/mCC_HPE_CT_filtered.lyr
  Symbology/esri/BRAT/oCC_EX_filtered.lyr
  Symbology/esri/BRAT/oCC_HPE_filtered.lyr
  Symbology/qgis/BRAT/mCC_EX_CT_filtered.qml
  Symbology/qgis/BRAT/mCC_HPE_CT_filtered.qml
  Symbology/qgis/BRAT/oCC_EX_filtered.qml
  Symbology/qgis/BRAT/oCC_HPE_filtered.qml
  Symbology/web/BRAT/limitation.json
  Symbology/web/BRAT/limitation_peren.json
  Symbology/web/BRAT/mCC_EX_CT_filtered.json
  Symbology/web/BRAT/mCC_HPE_CT_filtered.json
  Symbology/web/BRAT/oCC_EX_filtered.json
  Symbology/web/BRAT/oCC_HPE_filtered.json
  Symbology/web/BRAT/opportunity.json
  Symbology/web/BRAT/opportunity_peren.json
  Symbology/web/BRAT/risk.json
  Symbology/web/BRAT/risk_peren.json
Labels: symbology, QRAVE, ArcRAVE, :globe_with_meridians: WebRAVE, pkg:BRAT

#380 Updated GUT symbology
  RaveBusinessLogic/GUT.xml
  Symbology/esri/GUT/ev_DEMSlope_Raster.lyr
  Symbology/esri/GUT/ev_bsSD.lyr
  Symbology/esri/GUT/ev_resTopo.lyr
  Symbology/esri/GUT/out_Tier3_SubGU.lyr
  Symbology/esri/GUT/raster_slope.lyr
  Symbology/qgis/GUT/ev_Contours.qml
  Symbology/qgis/GUT/ev_DEMSlope_Raster.qml
  Symbology/qgis/GUT/ev_bfCh.qml
  Symbology/qgis/GUT/ev_bfSlopeCat.qml
  Symbology/qgis/GUT/ev_bsSD.qml
  Symbology/qgis/GUT/ev_bsSDCat.qml
  Symbology/qgis/GUT/ev_channelEdge.qml
  Symbology/qgis/GUT/ev_contourNodes.qml
  Symbology/qgis/GUT/ev_contourPolygons.qml
  Symbology/qgis/GUT/ev_mBendIndex.qml
  Symbology/qgis/GUT/ev_normFill.qml
  Symbology/qgis/GUT/ev_resDepth.qml
  Symbology/qgis/GUT/ev_resTopo.qml
  Symbology/qgis/GUT/ev_tmp.qml
  Symbology/qgis/GUT/in_BankfullExtent.qml
  Symbology/qgis/GUT/in_Thalwegs_Channel.qml
  Symbology/qgis/GUT/in_Thalwegs_Type.qml
  Symbology/qgis/GUT/in_WaterCenterline.qml
  Symbology/qgis/GUT/in_WaterExtent.qml
  Symbology/qgis/GUT/out_Tier1_FlowUnit.qml
  Symbology/qgis/GUT/out_Tier1_ValleyUnit.qml
  Symbology/qgis/GUT/out_Tier2_UnitForm.qml
  Symbology/qgis/GUT/out_Tier2_UnitForm_Discrete.qml
  Symbology/qgis/GUT/out_Tier2_UnitShape.qml
  Symbology/qgis/GUT/out_Tier3_GeomorphicUnit.qml
  Symbology/qgis/GUT/out_Tier3_Orientation.qml
  Symbology/qgis/GUT/out_Tier3_Position.qml
  Symbology/qgis/GUT/out_Tier3_SubGU.qml
  Symbology/qgis/GUT/raster_slope.qml
  Symbology/qgis/Shared/bfCL.qml
Labels: symbology, QRAVE, ArcRAVE, BusinessLogic

#381 Curated ArcRAVE symbology for pyBRAT
  Symbology/esri/pyBRAT/IsMainCH.lyr
  Symbology/esri/pyBRAT/py_flow_accumulation.lyr
  Symbology/esri/pyBRAT/py_ownership.lyr
Labels: symbology

#397 Updated legend for FlowDirection symbology
  Symbology/web/Shared/FlowDirection.json
Labels: symbology

#404 fixed typo in HAND label
  RaveBusinessLogic/RSContext.xml
Labels: BusinessLogic

#400 Updated BRAT WebRAVE symbology for Historic Veg Dam Building Capacity
  Symbology/web/Shared/oVC_HPE.json
Labels: symbology

#406 GUT outputs symbolized for WebRAVE
  Symbology/web/GUT/out_Tier1_FlowUnit.json
  Symbology/web/GUT/out_Tier1_ValleyUnit.json
  Symbology/web/GUT/out_Tier2_UnitForm.json
  Symbology/web/GUT/out_Tier2_UnitForm_Discrete.json
  Symbology/web/GUT/out_Tier2_UnitShape.json
  Symbology/web/GUT/out_Tier3_GeomorphicUnit.json
  Symbology/web/GUT/out_Tier3_Orientation.json
  Symbology/web/GUT/out_Tier3_Position.json
  Symbology/web/GUT/out_Tier3_SubGU.json
Labels: symbology
