Repository Riverscapes/RiverscapesXML, pull requests merged in 2021-12, with the labels that each got.

#409 Updated NULL DA symbology
  Symbology/esri/BRAT/null_da.lyr
  Symbology/qgis/BRAT/null_da.qml
  Symbology/web/BRAT/null_da.json
Labels: symbology

#422 added geology wms to basemaps
  BaseMaps.xml
Labels: Basemaps

#421 Added Veg Suitability to pyBRAT
  RaveBusinessLogic/pyBRAT.xml
  Symbology/esri/pyBRAT/py_VEG_CODE.lyr
  Symbology/web/pyBRAT/py_VEG_CODE.txt
Labels: symbology, BusinessLogic

#419 Changes to RS Context Views
  RaveBusinessLogic/RSContext.xml
Labels: pkg:RS_Context

#427 fixed RVD business logic
  RaveBusinessLogic/RVD.xml
Labels: pkg:RVD
