Repository Riverscapes/RiverscapesXML, pull requests merged in 2023-04, with the labels that each got.

#540 Hydro symbology
  RaveBusinessLogic/V1/Hydro.xml
  Symbology/qgis/Hydro/depthError.qml
  Symbology/qgis/Hydro/flowdir.qml
  Symbology/qgis/Hydro/velocityMag.qml
  Symbology/qgis/Hydro/velocityVec.qml
  Symbology/qgis/Hydro/wDepth.qml
  Symbology/qgis/Hydro/wsDEM.qml
Labels: symbology, QRAVE

#543 Topo Symbology
  Symbology/esri/Shared/wDepth.lyr
  Symbology/esri/Shared/wsDEM.lyr
  Symbology/qgis/Shared/wDepth.qml
  Symbology/qgis/Shared/wsDEM.qml
  Symbology/qgis/Topo/ErrorDEM.qml
  Symbology/qgis/Topo/SurveyExtent.qml
  Symbology/qgis/Topo/asPD.qml
  Symbology/qgis/Topo/asSD.qml
  Symbology/qgis/Topo/bfExtent.qml
  Symbology/qgis/Topo/breaklines.qml
  Symbology/qgis/Topo/cu_D16.qml
  Symbology/qgis/Topo/cu_D50.qml
  Symbology/qgis/Topo/cu_D84.qml
  Symbology/qgis/Topo/cu_D90.qml
  Symbology/qgis/Topo/cu_T1.qml
  Symbology/qgis/Topo/cu_T2.qml
  Symbology/qgis/Topo/detrendDEM.qml
  Symbology/qgis/Topo/pts_control.qml
  Symbology/qgis/Topo/pts_eow.qml
  Symbology/qgis/Topo/pts_error.qml
  Symbology/qgis/Topo/pts_streamFeatures.qml
  Symbology/qgis/Topo/pts_topo.qml
  Symbology/qgis/Topo/thalweg.qml
  Symbology/qgis/Topo/wetCL.qml
  Symbology/qgis/Topo/wetExtent.qml
Labels: symbology, QRAVE

#546 PBR Symbology Updates
  RaveBusinessLogic/V2/PBR.xml
  Symbology/esri/PBR/ActiveChannel.lyr
  Symbology/qgis/PBR/ActiveChannel.qml
  Symbology/web/PBR/ActiveChannel.json
Labels: symbology, BusinessLogic

#548 Updated BL for V1 PBR
  RaveBusinessLogic/V1/PBR.xml
Labels: BusinessLogic

#568 Relaxing XML tag ordering across all nodes
  Projects/XSD/V2/RiverscapesProject.xsd
Labels: enhancement

#570 exposing the NHD Area split by catchments
  RaveBusinessLogic/V2/RSContext.xml
Labels: BusinessLogic, pkg:RS_Context, DataExchange_3.0

#573 Ecoregions Symbology (Q and Arc)
  Symbology/esri/RSContext/ecoregions_1.lyr
  Symbology/esri/RSContext/ecoregions_2.lyr
  Symbology/esri/RSContext/ecoregions_4.lyr
  Symbology/qgis/RSContext/ecoregions_1.qml
  Symbology/qgis/RSContext/ecoregions_2.qml
  Symbology/qgis/RSContext/ecoregions_4.qml
Labels: symbology

#575 Hydro symbology for webRAVE
  Symbology/web/Hydro/depthError.txt
  Symbology/web/Hydro/flowdir.txt
  Symbology/web/Hydro/velocityMag.txt
  Symbology/web/Hydro/wDepth.txt
  Symbology/web/Shared/detrendDEM.txt
  Symbology/web/Shared/wsDEM.txt
Labels: symbology

#581 vbet bl tweaks
  RaveBusinessLogic/V2/VBET.xml
Labels: BusinessLogic, pkg:VBET, DataExchange_3.0

#594 Political Boundary Curation
  Symbology/esri/RSContext/counties.lyr
  Symbology/esri/RSContext/states.lyr
  Symbology/qgis/RSContext/counties.qml
  Symbology/qgis/RSContext/states.qml
  Symbology/web/RSContext/counties.json
  Symbology/web/RSContext/states.json
Labels: symbology

#597 Moving symbology from Inundation to Shared
  Symbology/esri/Shared/Thalwegs.lyr
  Symbology/esri/Shared/VB_Centerline.lyr
  Symbology/esri/Shared/dam_state.lyr
  Symbology/esri/Shared/inundation_types.lyr
  Symbology/esri/Shared/valley_bottom.lyr
  Symbology/qgis/Shared/Thalwegs.qml
  Symbology/qgis/Shared/VB_Centerline.qml
  Symbology/qgis/Shared/dam_state.qml
  Symbology/qgis/Shared/inundation_types.qml
  Symbology/qgis/Shared/valley_bottom.qml
  Symbology/web/Shared/Thalwegs.json
  Symbology/web/Shared/VB_Centerline.json
  Symbology/web/Shared/dam_state.json
  Symbology/web/Shared/inundation_types.json
  Symbology/web/Shared/valley_bottom.json
Labels: symbology

#595 More RME symbology
  Symbology/qgis/RME/Act_Chan_Area.qml
  Symbology/qgis/RME/Act_Chan_Ratio.qml
  Symbology/qgis/RME/Act_Fld_Area.qml
  Symbology/qgis/RME/Confluence_Count.qml
  Symbology/qgis/RME/Diffluence_Count.qml
  Symbology/qgis/RME/Headwater.qml
  Symbology/qgis/RME/Integrated_Width.qml
  Symbology/qgis/RME/Junc_Points.qml
  Symbology/qgis/RME/Rel_Flow_Length.qml
  Symbology/qgis/RME/Stream_Size.qml
  Symbology/qgis/RME/Stream_Type.qml
Labels: symbology
