Repository Riverscapes/RiverscapesXML, pull requests merged in 2023-09, with the labels that each got.

#651 LANDFIRE .qml files
  Symbology/qgis/RSContext/LF_evc.qml
  Symbology/qgis/RSContext/LF_evh.qml
  Symbology/qgis/RSContext/LF_fccs.qml
  Symbology/qgis/RSContext/LF_fdst.qml
  Symbology/qgis/RSContext/LF_hdst.qml
  Symbology/qgis/RSContext/LF_scla.qml
  Symbology/qgis/RSContext/LF_vcc.qml
  Symbology/qgis/RSContext/LF_vdep.qml
Labels: symbology

#655 Initial LTPBRDesign project
  RaveBusinessLogic/V2/LTPBRDesign.xml
  Symbology/qgis/LTPBRDesign/complexes.qml
  Symbology/qgis/LTPBRDesign/structure_lines.qml
  Symbology/qgis/LTPBRDesign/structure_points.qml
  Symbology/qgis/LTPBRDesign/zoi.qml
Labels: :globe_with_meridians: Viewer QGIS, BusinessLogic, QRiS

#656 Brat cis
  Symbology/qgis/QRiS/valley_bottom.qml
Labels: QRiS

#657 Clean up
  Symbology/esri/RSContext/drainage_area.lyr
  Symbology/esri/RSContext/drainagewings.lyr
  Symbology/esri/RSContext/flow_accumulation.lyr
  Symbology/esri/RSContext/mean_annual_precip.lyr
  Symbology/esri/RSContext/nhdarea.lyr
  Symbology/esri/RSContext/nhdephemeral.lyr
  Symbology/esri/RSContext/nhdintermittent.lyr
  Symbology/esri/RSContext/nhdperrenial.lyr
  Symbology/esri/RSContext/ownership.lyr
  Symbology/esri/RSContext/upstreamdrainagearea.lyr
  Symbology/esri/Shared/waterbody.lyr
  Symbology/qgis/RSContext/drainage_area.qml
  Symbology/qgis/RSContext/drainagewings.qml
  Symbology/qgis/RSContext/flow_accumulation.qml
  Symbology/qgis/RSContext/mean_annual_precip.qml
  Symbology/qgis/RSContext/nhdarea.qml
  Symbology/qgis/RSContext/nhdephemeral.qml
  Symbology/qgis/RSContext/nhdintermittent.qml
  Symbology/qgis/RSContext/nhdperrenial.qml
  Symbology/qgis/RSContext/ownership.qml
  Symbology/qgis/RSContext/upstreamdrainagearea.qml
  Symbology/qgis/RSContext/waterbody.qml
  Symbology/qgis/Shared/mean_annual_precip.qml
  Symbology/web/RSContext/dem.txt
  Symbology/web/RSContext/drainage_area.txt
  Symbology/web/RSContext/mean_annual_precip.txt
  Symbology/web/RSContext/nhdephemeral.json
  Symbology/web/RSContext/ownership.json
  Symbology/web/RSContext/slope.txt
  Symbology/web/Shared/flow_accumulation.txt
  Symbology/web/Shared/nhdarea.json
  Symbology/web/Shared/nhdperrenial.json
  Symbology/web/Shared/upstreamdrainagearea.json
  Symbology/web/Shared/waterbody.json
Labels: symbology
