Repository Riverscapes/RiverscapesXML, pull requests merged in 2023-03, with the labels that each got.

#507 Anthro and RCAT business logic first cut
  RaveBusinessLogic/V2/Anthro.xml
  RaveBusinessLogic/V2/RCAT.xml
Labels: BusinessLogic, pkg:RCAT, pkg:Anthro

#509 Updates to VBET V1 BL requested in #508
  RaveBusinessLogic/V1/VBET.xml
Labels: BusinessLogic, pkg:VBET

#529 VBET Business Logic Updates (Project Views)
  RaveBusinessLogic/V1/VBET.xml
Labels: BusinessLogic, pkg:VBET

#537 Hydro BL had wrong file for "Water Depth (model vs surveyed)"
  RaveBusinessLogic/V2/Hydro.xml
Labels: :bug: bug, BusinessLogic
