Repository Riverscapes/RiverscapesXML, pull requests merged in 2024-01, with the labels that each got.

#677 Update/Add symbology to observation_points layer (as-built)
  Symbology/qgis/QRiS/observation_points_asbuilt.qml
Labels: QRiS

#679 Updated symbology for QRiS 0.3.6.
  Symbology/qgis/QRiS/brat_cis.qml
  Symbology/qgis/QRiS/brat_vegetation.qml
  Symbology/qgis/QRiS/cem_phases.qml
  Symbology/qgis/QRiS/observation_lines_dce.qml
  Symbology/qgis/QRiS/observation_points_dce.qml
  Symbology/qgis/QRiS/observation_polygons_dce.qml
Labels: QRiS

#680 Rme updates
  Symbology/qgis/RME/Confluence_Count.qml
  Symbology/qgis/RME/Diffluence_Count.qml
  Symbology/qgis/RME/Headwater.qml
  Symbology/qgis/RME/Integrated_Width.qml
  Symbology/qgis/RME/Rel_Flow_Length.qml
  Symbology/qgis/RME/Stream_Grad.qml
  Symbology/qgis/RME/Stream_Order.qml
  Symbology/qgis/RME/Stream_Type.qml
Labels: symbology, pkg:RME

#682 updated folder names in RiverscapesXML to path project xml for metric engine.
  RaveBusinessLogic/V2/rs_metric_engine.xml
  Symbology/qgis/rs_metric_engine/Act_Chan_Area.qml
  Symbology/qgis/rs_metric_engine/Act_Chan_Ratio.qml
  Symbology/qgis/rs_metric_engine/Act_Fld_Area.qml
  Symbology/qgis/rs_metric_engine/Confluence_Count.qml
  Symbology/qgis/rs_metric_engine/Diffluence_Count.qml
  Symbology/qgis/rs_metric_engine/Headwater.qml
  Symbology/qgis/rs_metric_engine/IGO_Confinement.qml
  Symbology/qgis/rs_metric_engine/IGO_Plan_Sin.qml
  Symbology/qgis/rs_metric_engine/IGO_Tribs_Km.qml
  Symbology/qgis/rs_metric_engine/Integrated_Width.qml
  Symbology/qgis/rs_metric_engine/Junc_Points.qml
  Symbology/qgis/rs_metric_engine/Rel_Flow_Length.qml
  Symbology/qgis/rs_metric_engine/Stream_Grad.qml
  Symbology/qgis/rs_metric_engine/Stream_Order.qml
  Symbology/qgis/rs_metric_engine/Stream_Size.qml
  Symbology/qgis/rs_metric_engine/Stream_Type.qml
  Symbology/qgis/rs_metric_engine/Valley_Grad.qml
Labels: pkg:RME

#686 Updated level path symbology
  Symbology/qgis/VBET/levelpaths_unique.qml
Labels: symbology
