Repository Riverscapes/RiverscapesXML, pull requests merged in 2024-05, with the labels that each got.

#708 Added new symbology files for LUI, riparian condition/conversion, updated business logic.
  RaveBusinessLogic/V2/pibo_riverscapes.xml
  Symbology/qgis/pibo_riverscapes/cond_sym.qml
  Symbology/qgis/pibo_riverscapes/conv_sym.qml
  Symbology/qgis/pibo_riverscapes/lui_sym.qml
Labels: symbology, BusinessLogic

#710 Added PIBO Riverscapes web symbology
  Symbology/web/pibo_riverscapes/capacity_sym.json
  Symbology/web/pibo_riverscapes/cond_sym.json
  Symbology/web/pibo_riverscapes/conratio_sym.json
  Symbology/web/pibo_riverscapes/conv_sym.json
  Symbology/web/pibo_riverscapes/dgo_sym.json
  Symbology/web/pibo_riverscapes/huc10_sym.json
  Symbology/web/pibo_riverscapes/lui_sym.json
  Symbology/web/pibo_riverscapes/opportunity_sym.json
  Symbology/web/pibo_riverscapes/pibo_active_sym.json
  Symbology/web/pibo_riverscapes/risk_sym.json
  Symbology/web/pibo_riverscapes/sitedes_sym.json
Labels: symbology

#712 old and new confinement bl
  RaveBusinessLogic/V2/Confinement.xml
Labels: BusinessLogic, pkg:Confinement

#709 added old layer names to vbet outputs for backward compatibility
  RaveBusinessLogic/V2/VBET.xml
Labels: BusinessLogic, pkg:VBET

#713 RiverscapesStudio business logic
  RaveBusinessLogic/V2/RiverscapesStudio.xml
Labels: BusinessLogic, QRiS

#702 Changes to QRiS Symbology
  Symbology/qgis/QRiS/cem_phases.qml
  Symbology/qgis/QRiS/observation_lines.qml
  Symbology/qgis/QRiS/structural_elements_points.qml
  Symbology/qgis/QRiS/structure_lines.qml
  Symbology/qgis/QRiS/structure_points.qml
Labels: QRiS
