Repository Riverscapes/RiverscapesXML, pull requests merged in 2025-02, with the labels that each got.

#798 Anthro Fixes #783
  RaveBusinessLogic/V2/Anthro.xml
  Symbology/arcpro/Anthro/PVTLand.lyrx
  Symbology/arcpro/Anthro/iPC_Canal_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_DivPts_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_RailVB_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_Rail_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_RoadVB_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_RoadX_anthro.lyrx
  Symbology/arcpro/Anthro/iPC_Road_anthro.lyrx
  Symbology/arcpro/Anthro/oPC_Dist_anthro.lyrx
  Symbology/arcpro/Anthro/road_4wd_dens.lyrx
  Symbology/arcpro/Anthro/road_prim_dens.lyrx
  Symbology/arcpro/Anthro/road_sec_dens.lyrx
  Symbology/qgis/Anthro/PVTLand.qml
  Symbology/qgis/Anthro/iPC_Canal_anthro.qml
  Symbology/qgis/Anthro/iPC_DivPts_anthro.qml
  Symbology/qgis/Anthro/iPC_RailVB_anthro.qml
  Symbology/qgis/Anthro/iPC_Rail_anthro.qml
  Symbology/qgis/Anthro/iPC_RoadVB_anthro.qml
  Symbology/qgis/Anthro/iPC_RoadX_anthro.qml
  Symbology/qgis/Anthro/iPC_Road_anthro.qml
  Symbology/qgis/Anthro/oPC_Dist_anthro.qml
  Symbology/qgis/Anthro/road_4wd_dens.qml
  Symbology/qgis/Anthro/road_prim_dens.qml
  Symbology/qgis/Anthro/road_sec_dens.qml
  Symbology/web/Anthro/PVTLand.json
  Symbology/web/Anthro/iPC_Canal_anthro.json
  Symbology/web/Anthro/iPC_DivPts_anthro.json
  Symbology/web/Anthro/iPC_RailVB_anthro.json
  Symbology/web/Anthro/iPC_Rail_anthro.json
  Symbology/web/Anthro/iPC_RoadVB_anthro.json
  Symbology/web/Anthro/iPC_RoadX_anthro.json
  Symbology/web/Anthro/iPC_Road_anthro.json
  Symbology/web/Anthro/oPC_Dist_anthro.json
  Symbology/web/Anthro/road_4wd_dens.json
  Symbology/web/Anthro/road_prim_dens.json
  Symbology/web/Anthro/road_sec_dens.json
  Symbology/web/Anthro/roadcross_density.json
Labels: symbology, BusinessLogic, pkg:Anthro

#800 Anthro Curation
  Symbology/arcpro/Anthro/roadcross_count.lyrx
  Symbology/arcpro/Shared/iPC_LU_igo.lyrx
  Symbology/arcpro/Shared/py_div_point.lyrx
  Symbology/web/Anthro/roadcross_count.json
  Symbology/web/Anthro/stream_crossings.json
Labels: symbology, pkg:Anthro

#804 Beav activity
  RaveBusinessLogic/V2/Beaver_Activity.xml
Labels: BusinessLogic, pkg:BRAT

#801 QRiS web symbology
  Symbology/qgis/RiverscapesStudio/beaver_dam.qml
  Symbology/qgis/RiverscapesStudio/beaver_sign.qml
  Symbology/web/RiverscapesStudio/beaver_dam.json
  Symbology/web/RiverscapesStudio/beaver_sign.json
  Symbology/web/RiverscapesStudio/complexes.json
  Symbology/web/RiverscapesStudio/observation_lines.json
  Symbology/web/RiverscapesStudio/observation_polygons.json
  Symbology/web/RiverscapesStudio/risk_potential_lines.json
  Symbology/web/RiverscapesStudio/risk_potential_polygons.json
  Symbology/web/RiverscapesStudio/structure_lines.json
  Symbology/web/RiverscapesStudio/structure_points.json
  Symbology/web/RiverscapesStudio/zoi.json
Labels: symbology, QRiS

#807 Confinement fixes issue #787
  RaveBusinessLogic/V2/Confinement.xml
  Symbology/web/Confinement/confinement_dgo.json
  Symbology/web/Confinement/confinement_igo.json
Labels: symbology, BusinessLogic, pkg:Confinement

#810 Stopbanks Business Logic NZ
  RaveBusinessLogic/V2/nznational.xml
Labels: DataExchange_3.0

#809 Riverscapes BRAT fixes issue #786
  RaveBusinessLogic/V2/Riverscapes_BRAT.xml
  Symbology/qgis/Riverscapes_BRAT/limitation_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_EX_filtered_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_EX_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_HPE_filtered_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_HPE_igo.qml
  Symbology/qgis/Riverscapes_BRAT/opportunity_igo.qml
  Symbology/qgis/Riverscapes_BRAT/risk_igo.qml
  Symbology/web/Riverscapes_BRAT/oCC_EX_filtered_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_EX_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_HPE_filtered_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_HPE_igo.json
Labels: symbology, BusinessLogic, pkg:BRAT

#813 Adjusting QGIS RME IGO output size based on zoom
  Symbology/qgis/Shared/AcresVB_Mile.qml
  Symbology/qgis/Shared/Act_Chan_Ratio.qml
  Symbology/qgis/Shared/Ag_Conv.qml
  Symbology/qgis/Shared/Confluence_Count.qml
  Symbology/qgis/Shared/Dev_Conv.qml
  Symbology/qgis/Shared/Diffluence_Count.qml
  Symbology/qgis/Shared/Elevated_Ratio.qml
  Symbology/qgis/Shared/Fldpln_Access.qml
  Symbology/qgis/Shared/Floodplain_Ratio.qml
  Symbology/qgis/Shared/Headwater.qml
  Symbology/qgis/Shared/HectaresVB_Km.qml
  Symbology/qgis/Shared/IGO_Confinement.qml
  Symbology/qgis/Shared/IGO_Constriction.qml
  Symbology/qgis/Shared/IGO_Plan_Sin.qml
  Symbology/qgis/Shared/IGO_RVD.qml
  Symbology/qgis/Shared/IGO_Tribs_Km.qml
  Symbology/qgis/Shared/Integrated_Width.qml
  Symbology/qgis/Shared/Land_Use.qml
  Symbology/qgis/Shared/Low_Lying_Ratio.qml
  Symbology/qgis/Shared/Prop_Rip.qml
  Symbology/qgis/Shared/RME_Capacity.qml
  Symbology/qgis/Shared/RME_Drainage.qml
  Symbology/qgis/Shared/RME_Opportunity.qml
  Symbology/qgis/Shared/RME_Ownership.qml
  Symbology/qgis/Shared/RME_Risk.qml
  Symbology/qgis/Shared/Rail_Density.qml
  Symbology/qgis/Shared/Rel_Flow_Length.qml
  Symbology/qgis/Shared/Road_Density.qml
  Symbology/qgis/Shared/Stream_Grad.qml
  Symbology/qgis/Shared/Stream_Order.qml
  Symbology/qgis/Shared/Stream_Size.qml
  Symbology/qgis/Shared/Stream_Type.qml
  Symbology/qgis/Shared/Valley_Grad.qml
Labels: symbology, pkg:RME
