Repository Riverscapes/RiverscapesXML, pull requests merged in 2025-03, with the labels that each got.

#815 Adjusting Web RME IGOs based on zoom
  Symbology/web/Shared/AcresVB_Mile.json
  Symbology/web/Shared/Act_Chan_Ratio.json
  Symbology/web/Shared/Ag_Conv.json
  Symbology/web/Shared/Confluence_Count.json
  Symbology/web/Shared/Dev_Conv.json
  Symbology/web/Shared/Diffluence_Count.json
  Symbology/web/Shared/Elevated_Ratio.json
  Symbology/web/Shared/Fldpln_Access.json
  Symbology/web/Shared/Floodplain_Ratio.json
  Symbology/web/Shared/Headwater.json
  Symbology/web/Shared/HectaresVB_Km.json
  Symbology/web/Shared/IGO_Confinement.json
  Symbology/web/Shared/IGO_Constriction.json
  Symbology/web/Shared/IGO_Plan_Sin.json
  Symbology/web/Shared/IGO_RVD.json
  Symbology/web/Shared/IGO_Tribs_Km.json
  Symbology/web/Shared/Integrated_Width.json
  Symbology/web/Shared/Land_Use.json
  Symbology/web/Shared/Low_Lying_Ratio.json
  Symbology/web/Shared/Prop_Rip.json
  Symbology/web/Shared/RME_Capacity.json
  Symbology/web/Shared/RME_Drainage.json
  Symbology/web/Shared/RME_Opportunity.json
  Symbology/web/Shared/RME_Ownership.json
  Symbology/web/Shared/RME_Risk.json
  Symbology/web/Shared/Rail_Density.json
  Symbology/web/Shared/Rel_Flow_Length.json
  Symbology/web/Shared/Road_Density.json
  Symbology/web/Shared/Stream_Grad.json
  Symbology/web/Shared/Stream_Order.json
  Symbology/web/Shared/Stream_Size.json
  Symbology/web/Shared/Stream_Type.json
  Symbology/web/Shared/Valley_Grad.json
Labels: symbology, :globe_with_meridians: Viewer Web, pkg:RME

#817 READ ME file improvements
  README.md
Labels: enhancement

#822 RSContext changes, closes issue #821
  RaveBusinessLogic/V2/RSContext.xml
  Symbology/arcpro/Shared/flow_lines_simple.lyrx
  Symbology/arcpro/Shared/roads_simple.lyrx
  Symbology/qgis/Shared/flow_lines_simple.qml
  Symbology/qgis/Shared/roads_simple.qml
  Symbology/web/Shared/flow_lines_simple.json
  Symbology/web/Shared/roads_simple.json
Labels: symbology, BusinessLogic, pkg:RS_Context
