Repository Riverscapes/RiverscapesXML, pull requests merged in 2025-07, with the labels that each got.

#862 QRiS web symbology
  Symbology/web/RiverscapesStudio/active_channels.json
  Symbology/web/RiverscapesStudio/active_extents.json
  Symbology/web/RiverscapesStudio/beaver_dam.json
  Symbology/web/RiverscapesStudio/beaver_sign.json
  Symbology/web/RiverscapesStudio/cem_phases.json
  Symbology/web/RiverscapesStudio/centerlines.json
  Symbology/web/RiverscapesStudio/channel_junctions.json
  Symbology/web/RiverscapesStudio/complexes.json
  Symbology/web/RiverscapesStudio/dam_crests.json
  Symbology/web/RiverscapesStudio/geomorphic_unit_extents.json
  Symbology/web/RiverscapesStudio/geomorphic_units.json
  Symbology/web/RiverscapesStudio/inundation_extents.json
  Symbology/web/RiverscapesStudio/observation_lines.json
  Symbology/web/RiverscapesStudio/observation_lines_dce.json
  Symbology/web/RiverscapesStudio/observation_points.json
  Symbology/web/RiverscapesStudio/observation_points_asbuilt.json
  Symbology/web/RiverscapesStudio/observation_points_dce.json
  Symbology/web/RiverscapesStudio/observation_polygons.json
  Symbology/web/RiverscapesStudio/observation_polygons_dce.json
  Symbology/web/RiverscapesStudio/recovery_potential.json
  Symbology/web/RiverscapesStudio/risk_potential_lines.json
  Symbology/web/RiverscapesStudio/risk_potential_points.json
  Symbology/web/RiverscapesStudio/risk_potential_polygons.json
  Symbology/web/RiverscapesStudio/structural_elements_areas.json
  Symbology/web/RiverscapesStudio/structural_elements_lines.json
  Symbology/web/RiverscapesStudio/structural_elements_points.json
  Symbology/web/RiverscapesStudio/structure_lines.json
  Symbology/web/RiverscapesStudio/structure_points.json
  Symbology/web/RiverscapesStudio/vegetation_extents.json
  Symbology/web/RiverscapesStudio/zoi.json
Labels: symbology, QRiS

#863 Symbology for National Inventory of Dams in RSContext, closes #811
  Symbology/arcpro/RSContext/nid_dams_height.lyrx
  Symbology/arcpro/RSContext/nid_dams_ownership.lyrx
  Symbology/qgis/RSContext/nid_dams_height.qml
  Symbology/qgis/RSContext/nid_dams_ownership.qml
  Symbology/web/RSContext/nid_dams_height.json
  Symbology/web/RSContext/nid_dams_ownership.json
Labels: symbology, pkg:RS_Context

#866 NHDplusV2 symbology for QGIS, ArcPro, Web, closes #853
  Symbology/arcpro/RSContext/nhdplusv2_flowareas.lyrx
  Symbology/arcpro/RSContext/nhdplusv2_flowlines.lyrx
  Symbology/arcpro/RSContext/nhdplusv2_waterbodies.lyrx
  Symbology/qgis/RSContext/nhdplusv2_flowareas.qml
  Symbology/qgis/RSContext/nhdplusv2_flowlines.qml
  Symbology/qgis/RSContext/nhdplusv2_waterbodies.qml
  Symbology/web/RSContext/nhdplusv2_flowareas.json
  Symbology/web/RSContext/nhdplusv2_flowlines.json
  Symbology/web/RSContext/nhdplusv2_waterbodies.json
Labels: symbology, pkg:RS_Context

#874 Attempting to fix DCE repeaters
  RaveBusinessLogic/V2/Inundation.xml
Labels: enhancement, pkg:RIM

#881 Updated IGO symbology for Issue #868
  Symbology/arcpro/RCAT/FPAccess_igo.lyrx
  Symbology/arcpro/RCAT/condition_igo_per.lyrx
  Symbology/arcpro/RCAT/condition_igo_v2.lyrx
  Symbology/arcpro/RCAT/rvd_igo.lyrx
  Symbology/arcpro/Riverscapes_BRAT/oCC_EX_filtered_igo.lyrx
  Symbology/arcpro/Riverscapes_BRAT/oCC_EX_igo.lyrx
  Symbology/arcpro/Riverscapes_BRAT/oCC_HPE_filtered_igo.lyrx
  Symbology/arcpro/Riverscapes_BRAT/oCC_HPE_igo.lyrx
  Symbology/qgis/RCAT/FPAccess_igo.qml
  Symbology/qgis/RCAT/condition_igo_per.qml
  Symbology/qgis/RCAT/condition_igo_v2.qml
  Symbology/qgis/RCAT/rvd_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_EX_filtered_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_EX_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_HPE_filtered_igo.qml
  Symbology/qgis/Riverscapes_BRAT/oCC_HPE_igo.qml
  Symbology/web/RCAT/FPAccess_igo.json
  Symbology/web/RCAT/condition_igo_per.json
  Symbology/web/RCAT/condition_igo_v2.json
  Symbology/web/RCAT/rvd_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_EX_filtered_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_EX_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_HPE_filtered_igo.json
  Symbology/web/Riverscapes_BRAT/oCC_HPE_igo.json
Labels: symbology, pkg:BRAT, pkg:RCAT

#880 QRiS Symbology ZOI
  Symbology/web/RiverscapesStudio/zoi.json
Labels: symbology, QRiS
