Repository Riverscapes/RiverscapesXML, pull requests merged in 2025-04, with the labels that each got.

#832 RCAT Changes, Fixes Issue #826
  Symbology/arcpro/Shared/Historic_Veg_BPS_Name.lyrx
  Symbology/qgis/RCAT/condition_igo_per.qml
  Symbology/qgis/RCAT/condition_igo_v2.qml
  Symbology/qgis/RCAT/condition_v2.qml
  Symbology/qgis/RCAT/condition_v2_per.qml
Labels: symbology, pkg:RCAT

#834 Updates to the QRiS beaver dam censusing protocol and symbology
  QRiS/protocols/beaver_census_protocol.xml
  Symbology/qgis/RiverscapesStudio/beaver_dam.qml
Labels: enhancement, symbology

#835 added slope and da inputs to fix views
  RaveBusinessLogic/V2/Riverscapes_BRAT.xml
Labels: BusinessLogic, pkg:BRAT
